.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.header__home {
    padding: 10px;
}

main {
    flex: 1 1 auto; 
}

footer {
    padding: 10px;
    text-align: center;
    color: gray;
}

.list_categories {
    display: flex;
}

.list_categories a {
    padding: 10px;
}

.blog__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px 0 100px;
}

.blog__title {
    font-size: 30px;
    padding: 10px;
}

.blog__note {
    display: flex;
    flex-direction: column;
}

.note {
    display: flex;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
}

.note__image {
    padding: 10px;
}

.note__content {
    padding: 10px;
}

.note__title {
    padding: 10px;
    font-size: 25px;
    color: gray;
}

.note__category {
    margin: 10px;
}

.note__text {
    font-size: 18px;
}

.note__date {
    padding: 10px;
    color: gray;
}

.button {
    padding: 10px;
}