<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.title }}</title>
</head>
<body>
    <div>
        <a href="/">Главная страница</a>
    </div>
    <div><h1>{{ title }}</h1></div>
    <div>
        {% for note in categories %}
            <a href="/category/{{ note.pk }}" >{{ note.title }}</a>
        {% endfor %}
    </div>
    <div>
        {% for note in blog %}
            <div><h3>{{ note.title }}</h3></div>
            <div><b>Категория: {{ note.category }}</b></div>
            <div><p>{{ note.text }}</p></div>
            <div><i>{{ note.created_ad|date:"d-m-Y H:i" }}</i></div>
        {% endfor %}
    </div>
</body>
</html>