{% for note in blog %}
<div class="note">
    <div class="note__image">
        {% if note.image %}
            <img src="{{ note.image.url }}" alt="" width="200">
        {% endif %}
    </div>
    <div class="note__content">
        <div class="note__title">{{ note.title }}</div>
        <div class="note__category">Категория: <a href="{{ note.category.get_absolute_url }}">{{ note.category}}</a></div>
        <div class="note__text">{{ note.text }}</div>
        <div class="note__date">{{ note.created_ad|date:"d-m-Y H:i" }}</div>
        <a href="{{ note.get_absolute_url }}">ЧИТАТЬ</a>
    </div>
</div>
{% endfor %}
