<div>
    {% for note in blog %}
        <div><h3>{{ note.title }}</h3></div>
        <div>
            {% if note.image %}
                <img src="{{ note.image.url }}" alt="" width="200">
            {% endif %}
        </div>
        <div>Категория: <a href="{{ note.category.get_absolute_url }}">{{ note.category }}</a></div>
        <div><p>{{ note.text }}</p></div>
        <div><i>{{ note.created_ad|date:"d-m-Y H:i" }}</i></div>
        <div><a href="{{ note.get_absolute_url }}">Читать</a></div>
        <hr/>
    {% endfor %}
</div>